#profile {
  flex: 1;
  display: flex;
  justify-content: space-between;
  max-width: 1680px;
  width: 100%;
  padding: var(--paddingSection);
}
.profileData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 1000px;
  gap: 50px;
  flex: 2;
}
.profileIntro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#titleProfile {
  display: flex;
  flex-direction: column;
  font-size: 6rem;
  gap: 10px;
}
#titleProfile span {
  font-size: 2.4rem;
  font-weight: 200;
  letter-spacing: 1px;
}
.subtitleProfile {
  font-size: 2.6rem;
  font-weight: 200;
  letter-spacing: 9px;
}
.profileLinks {
  display: flex;
  align-items: center;
  gap: 50px;
}
.profileIconsBox {
  display: flex;
  gap: 40px;
}
.btnDownloadCv {
  background-color: var(--primary-color);
  padding: 20px 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: var(--text-white);
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 1.7rem;
}

.profileImgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 1000px;
  flex: 2;
}
.profileImgBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.imgBox {
  -webkit-clip-path: polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
  );
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  transform: rotate(90deg);
  height: 45rem;
  width: 45rem;
}
.imgProfile {
  width: 45rem;
  transform: rotate(270deg);
  object-fit: fill;
  position: absolute;
  top: -6rem;
  left: -7rem;
}
.bigHexagon {
  position: absolute;
  right: 17rem;
  top: 2rem;
  z-index: -1;
  width: 47rem;
  height: 47rem;
}
.smallHexagon {
  position: absolute;
  top: 14rem;
  right: 30rem;
  z-index: -1;
  width: 22rem;
  height: 22rem;
}

.effect1::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 200px;
  left: 350px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  filter: blur(120px);
}
 .effect2::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 160px;
  right: 0;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: var(--primary-color);
  filter: blur(80px);
}

@media (max-width:1400px){
  .effect1::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 200px;
    left: 150px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    filter: blur(120px);

  }
}
@media (max-width: 1050px) {
  .profileImgBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  
  .imgBox {
    height: 40rem;
    width: 40rem;
  }
  .imgProfile {
    left: -10rem;
  }

  .bigHexagon {
    right: 16rem;
    width: 43rem;
    height: 43rem;
  }
  .smallHexagon {
    right: 29rem;
    width: 17rem;
    height: 17rem;
  }
  
  .effect1::after {
    left: 50px;
    height: 170px;
    width: 170px;
  }
  
}

@media (max-width:950px) {
  #profile {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 50px;
  }
  .profileImgContainer {
    margin-left: 20%;
    padding-bottom: 50px;
  }
  
  .imgBox {
    height: 30rem;
    width: 30rem;
  }
  .imgProfile {
    left: -5rem;
    top: -4rem;
    width: 30rem;
  }

  .bigHexagon {
    right: 8rem;
    width: 33rem;
    height: 33rem;
  }
  .smallHexagon {
    top: 10rem;
    right: 17rem;
    width: 17rem;
    height: 17rem;
  }
  
  .effect1::after {
    left: -20px;
    top: 150px;
    height: 150px;
    width: 150px;
  }
  .effect2::after {
    top: 100px;
    right: 0;
    height: 100px;
    width: 100px;
  }


  .profileData {
    gap: 20px;
    text-align: center;
  }
  .profileIntro {
    gap: 5px;
  }
  #titleProfile {
    font-size: 4rem;
    gap: 0;
  }
  #titleProfile span {
    font-size: 2rem;
  }
  .subtitleProfile {
    font-size: 1.6rem;
    letter-spacing: 5px;
    font-weight: 300;
  }
  .profileLinks {
    flex-direction: column;
    gap: 20px;
  }
  .profileIconsBox {
    display: flex;
    gap: 40px;
  }
  .btnDownloadCv {
    padding: 15px 35px;
    border-radius: 40px;
    font-size: 1.4rem;
  }







}
