#emailSmallInputContainer {
  display: flex;
  gap: 10px;
}
.contactContainer {
  max-width: fit-content;
  margin: 60px 0px;
}
.emailHeaderContainer {
  text-align: center;
  line-height: 45px;
  margin: 0px 0px;
  font-family: var(--primary-font);
}
.emailHeaderTitle {
  font-size: 3.2rem;
  font-weight: 700;
}

.emailHeaderSub {
  font-weight: 500;
  font-size: 1.8rem;
}
.emailForm {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#message {
  padding-top: 15px;
  height: 180px;
  resize: none;
}
.inputContact {
  margin-top: 5px;
}
.submitButton {
  color: var(--text-white);
  font-family: var(--primary-font);
  font-size: 1.4rem;
  font-weight: 500;
  background: none;
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid var(--text-white);
  width: 120px;
  align-self: center;
  cursor: pointer;
  margin-top: 20px;
}
.modalInput {
  color: var(--text-white);
  height: 40px;
  border: 1px solid var(--text-white);
  outline: none;
  padding: 0px 20px;
  font-family: var(--secondary-font);
  font-weight: 500;
  width: 100%;
  background: none;
}
.modalLabel {
  font-size: 1.6rem;
}
